<h1>
  <!-- call name entered thru previous page -->
</h1>
<main id="tournament">
    <ul class="round round-1" >
    <!-- <tr *ngFor="let team of teamArray; let i = index"> -->
    <!-- loop for how many teams -->
    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">TEAM1<span>
      <div class="btn-group-vertical btn-group-sm" >
        <button type="button" class="btn btn-secondary" (click)="winner()">Advance</button>
        <button type="button" class="btn btn-secondary">Edit</button></div>
      </span></li>
      
    <li class="game game-spacer">&nbsp;</li>
    
    <li class="game game-bottom ">TEAM2<span><button type="button" class="btn btn-secondary" (click)="winner()">Advance</button><button type="button" class="btn btn-secondary">Middle</button></span></li>

    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">TEAM3<span>84</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">TEAM4<span>72</span></li>

    <li class="spacer">&nbsp;</li>

    <li class="game game-top ">TEAM5<span>55</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom winner">TEAM6<span>68</span></li>

    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">TEAM7<span>64</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">TEAM8<span>44</span></li>

    <li class="spacer">&nbsp;</li>
<!-- 
    <li class="game game-top winner">TEAM1 <span>54</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">TEAM1<span>52</span></li>

    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">TEAM1<span>65</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">TEAM1<span>54</span></li>

    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">TEAM1<span>67</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">TEAM1<span>63</span></li>

    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">TEAM1<span>73</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">TEAM1<span>61</span></li>

    <li class="spacer">&nbsp;</li> -->
  </ul>
  <ul class="round round-2">
    <!-- loop for winning teams-->
    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">Lousville <span>82</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Colo St <span>56</span></li>

    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">Oregon <span>74</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Saint Louis <span>57</span></li>

    <li class="spacer">&nbsp;</li>

    <!-- <li class="game game-top ">Memphis <span>48</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom winner">Mich St <span>70</span></li>

    <li class="spacer">&nbsp;</li>

    <li class="game game-top ">Creighton <span>50</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom winner">Duke <span>66</span></li>

    <li class="spacer">&nbsp;</li> -->
  </ul>
  <ul class="round round-3">
    <!-- loop calling winning teams-->
    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">Lousville <span>77</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Oregon <span>69</span></li>

    <li class="spacer">&nbsp;</li>
<!-- 
    <li class="game game-top ">Mich St <span>61</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom winner">Duke <span>71</span></li>

    <li class="spacer">&nbsp;</li> -->
  </ul>
  <!-- <ul class="round round-4">
    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">Lousville <span>85</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Duke <span>63</span></li>

    <li class="spacer">&nbsp;</li>
  </ul> -->
  <ul class="round round-5">
    <!-- call winning team-->
    <li class="game game-top winner">Lousville <span>85</span></li>
  </ul>
</main>