<div>
  <label for="exampleFormControlInput1">
    <font color="white">Tournament Name</font>
  </label>
  <input type="text" class="form-control" name="tourneyName" [(ngModel)]="tourneyName" placeholder="Name"
    [disabled]="textDisabled" [value]="inText">
</div>
<div class="form-group">
  <br>
  <label for="exampleFormControlTextarea1">
    <font color="white">Participants / Teams</font>
  </label>
  <li>
    <font color="white">Seperate Participants with comma.</font>
  </li>
  <textarea name="teamName" class="form-control" id="exampleFormControlTextarea1" rows="3"
    placeholder="Participant1, Participant2, Participant3, ..." [disabled]="textDisabled" [(ngModel)]="teamName" [value]="inText"></textarea>
</div>

<button style="margin-right: 10px" [disabled]="disableSubmitButton" (click)="tourney(teamName)"
  class="btn btn-success" type="button" mat-raised-button>
  Submit
</button>
<button style="margin-right: 10px" (click)="editSeeds()" class="btn btn-warning" type="button" mat-raised-button>
  Edit
</button>
<button style="margin-right: 10px" class="btn btn-info" (click)=random() mat-raised-button>
  random
</button>
<button style="margin-right: 10px" (click)="clearAll()" class="btn btn-danger" type="button" mat-raised-button>
  Clear
</button>

<h1>
  <br>
  {{tourneyTitle}}
</h1>

<ng-container *ngIf="teamNames.length > 0">
<main id="tournament" *ngIf="teamNames.length > 0">
  <ul class="round round-1">
    <tr *ngFor="let Team of teamNames; let i = index">
      <li class="spacer">&nbsp;</li>

      <li class="game game">
        <font color="white">{{Team}}</font> <span>
          <div class="btn-group-sm">
            <button type="button" class="btn btn-success" (click)="winner(i, i, getTeamName(i))">Advance</button>
            <button class="btn btn-danger pull-right" (click)="removeTeams(i)">X</button>
          </div>
        </span></li>
      <li class="game game-spacer">&nbsp;</li>
    </tr>
  </ul>

  <ul class="round round-2">
    <li class="spacer">&nbsp;</li>

    <li class="game">
      <font color="white">{{getWinnerName(0, 0)}}</font> <span>
        <div class="btn-group-sm">
          <button type="button" class="btn btn-success"
            (click)="winner(2, 0, getWinnerName(0, 0))">Advance</button>
        </div>
      </span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">
      <font color="white">{{getWinnerName(1, 2)}}{{getWinnerName(1, 3)}}</font><span>
        <div class="btn-group-sm">
          <button type="button" class="btn btn-success"
            (click)="winner(2, 1, getWinnerName(1, 2));  winner(2, 0, getWinnerName(1, 3))">Advance</button>
        </div>
      </span>
    </li>

    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">
      <font color="white">{{getWinnerName(1, 4)}}{{getWinnerName(1, 5)}}</font> <span>
        <div class="btn-group-sm">
          <button type="button" class="btn btn-success"
            (click)="winner(2, 2, getWinnerName(1, 4));  winner(2, 3, getWinnerName(1, 5))">Advance</button>
        </div>
      </span>
    </li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">
      <font color="white">{{getWinnerName(1, 6)}}{{getWinnerName(1, 7)}}</font><span>
        <div class="btn-group-sm">
          <button type="button" class="btn btn-success"
            (click)="winner(2, 2, getWinnerName(1, 6));  winner(2, 3, getWinnerName(1, 7))">Advance</button>
        </div>
      </span>
    </li>

    <li class="spacer">&nbsp;</li>
  </ul>


  <ul class="round round-3">
    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">
      <font color="white">{{getWinnerName(2, 1)}}{{getWinnerName(2, 0)}}</font><span>
        <div class="btn-group-sm">
          <button type="button" class="btn btn-success"
            (click)="winner(3, 1, getWinnerName(2, 1)); winner(3, 2, getWinnerName(2, 0))">Advance</button>
        </div>
      </span>
    </li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">
      <font color="white">{{getWinnerName(2, 2)}}{{getWinnerName(2, 3)}}</font><span>
        <div class="btn-group-sm">
          <button type="button" class="btn btn-success"
            (click)="winner(3, 1, getWinnerName(2, 2)); winner(3, 2, getWinnerName(2, 3))">Advance</button>
        </div>
      </span>
    </li>

    <li class="spacer">&nbsp;</li>
  </ul>


  <ul class="round round-5">
    <li class="game game-top winner">
      <font color="white">{{getWinnerName(3, 1)}}{{getWinnerName(3, 2)}}</font> <span>
        <font color="white">WINNER!</font>
      </span>
    </li>
  </ul>
</main>
</ng-container>