.pull-right {
    float: right;
}

.main-container-grid {
    display: grid;
    background-color: #32b167;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr .6fr 2fr;
    height: 100%;
}

.table-one {
    width: 100%;
    border: 1px solid #ccc;
}

.table-one > tbody > tr > td {
    border: 1px solid #ccc;
    min-height: 50px;
    padding: .5em;
}

.add-button {
    font-size: bold;
}

.main-outlet {
    display: none;
}

main{
    display:flex;
    flex-direction:row;
  }
  .round{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:200px;
    list-style:none;
    padding:0;
  }
    .round .spacer{ flex-grow:1; }
    .round .spacer:first-child,
    .round .spacer:last-child{ flex-grow:.5; }
  
    .round .game-spacer{
      flex-grow:1;
    }

  body{
    font-family:sans-serif;
    font-size:small;
    padding:10px;
    line-height:1.4em;
  }
  
  li.game{
    padding-left:20px;
  }
  
    li.game.winner{
      font-weight:bold;
    }
    li.game span{
      float:right;
      margin-right:5px;
    }
  
    li.game-top{ border-bottom:1px solid rgb(0, 0, 0); }
  
    li.game-spacer{ 
      border-right:1px solid rgb(0, 0, 0);
      min-height:40px;
    }
  
    li.game-bottom{ 
      border-top:1px solid rgb(0, 0, 0);
    }